.workGallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 560px) {
    flex-direction: column;
  }

  div {
    @media screen and (max-width: 560px) {
      margin: 54px 0;
      width: 100%;
    }
  }

  &__large {
    height: auto; 
    width: 100%;
    margin: 50px 0;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__short-left, &__short-right  {
    height: auto; 
    width: calc((100% - 110px) / 2);
    margin: 50px 0; 
    display: flex;
    align-items: center;
    color: #000000;
    font-family: GothamPro, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    // line-height: 32px;
    text-align: justify;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__short-right {
    margin-left: 50px 
  }

  &__short-left {
    margin-right: 50px 
  }

  // display: grid;
  // grid-auto-rows: auto;
  // gap: 100px;
  // grid-template-columns: 1fr 1fr;
  // grid-template-areas: 
  //   "one one"
  //   "two three"
  //   "four four"
  //   "five six"
  //   "seven eight";
  // width: 100%;

//   & > div > img {
//     width: 100%;
//     height: 100%;
//     object-fit: contain;
//   }

//   &-one {
//     grid-area: one;
//   }

//   &-two {
//     grid-area: two;
//   }

//   &-three {
//     grid-area: three;
//   }

//   &-four {
//     grid-area: four;
//   }
  
//   &-five {
//     grid-area: five;
//   }

//   &-six {
//     grid-area: six;
//   }

//   &-seven {
//     grid-area: seven;
//   }

//   &-eight {
//     grid-area: eight;
//   }

//   & div > p {
//     font-family: ProximaRegular, sans-serif;
//     font-size: 18px;
//     font-weight: 400;
//     line-height: 32px;
//     max-width: 500px;
//     margin: 0 0 20px 0;
//   }
// }

// @media screen and (max-width: 799px) {
//   .workGallery {
//     display: flex;
//     flex-direction: column;

//     & > div, & > img {
//       margin-top: 50px;
//     }

//     & > p {
//       height: max-content;
//     }

//     & > img {
//       height: 525px; 
//       object-fit: cover;
//     }
//   }
// }
}