.featured {
  position: relative;
  height: max-content;
  top: -340px;

  &__projects {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));   
    grid-template-rows: 525px 525px;
    grid-gap: 7%; 
    justify-items: stretch;
    justify-content: center;
    height: max-content;
    padding-top: 53px;
    margin: 0 auto; 

    & > div > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    & > div:nth-child(even) img {
      position: relative;
      top: 60px;
    }
  }
}