.work {
  padding-bottom: 111px;

  &__image {
    margin-top: 34px;
    width: 100%; 
    height: 774px;
    
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    margin: 86px 0 111px 0;
    animation: showDetails 2s ease-in-out;
  }

  &__left, &__right {
    width: 50%;
  }

  &__left {
    margin-top: 56px;
    height: 441px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-mobtitle {
      display: none;
      text-align: center;
    }

    &-table {

      & > tbody > tr > td {
        height: 20px;
        width: max-content;
      }

      & > tbody > tr > td:nth-child(odd) {
        font-family: ProximaBold, sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        width: 140px;
      }

      & > tbody > tr > td:nth-child(even) {
        font-family: ProximaRegular, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
      }
    }
    
    &-button {
      width: 150px;
    }
  }

  &__right {
    
    &-title {
      font-family: Formular;
      font-size: 36px;
      line-height: 34px;
      font-weight: 500;
      margin: 0 0 41px 0;
    }

    &-text {
      font-family: ProximaRegular, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      max-width: 520px;
    }
  }

  &__also {
    margin: 108px auto 114px;
    text-align: center;
  }

  &__details {
    font-family: Formular;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin: 32px auto 0;
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .work {
    padding: 0;

    &__image {
      height: 300px;

      & > img {
        height: 100%;
      }
    }
    
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 21px 0 0 0;

      &-invisible {
        display: none!important;
      }
    }

    &__left {
      width: 100%;
      align-items: center;
      height: max-content;
      margin: 0;

      &-mobtitle {
        display: block;
        font-family: Formular;
        font-size: 24px;
        line-height: 34px;
        font-weight: 500;
        margin: 30px 0 41px 0;
      }

      &-table {
        width: 80%;
        height: max-content;

        & > tr > td {
          width: 50%;
          font-size: 14px !important;
        }

        & > tr > td:nth-child(odd) {
          display: flex;
          align-items: flex-start;
          margin: 0;
          width: max-content;
        }
      }

      &-button {
        display: none;
      }

      &-mobiletitle {
        display: block;
      }
    }

    &__right {
      width: 100%;
      margin-top: 30px;
      
      &-text {
        margin: 0 auto;
        font-size: 14px;
      }

      &-title {
        display: none;
      }
    }

    &__also {
      font-size: 16px;
    }

    &__details {
      display: block;
    }
  }
}


@keyframes showDetails {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 650px;
    opacity: 1;
  }
}
