.contact { 
  position: relative;
  margin-top: 0;
  padding: 108px 0 100px;
  overflow: hidden;

  @media screen and (max-width: 560px) {
    margin-top: 34px;
    padding: 20px 0 0 0;
  }

  .wrapper {
    height: 100%;
  }

  .message__animation {
    right: -15%;

    @media screen and (max-width: 1199px) {
      right: -20%;
    }

    svg {
      width: 120%; 
      left: 0;
    }
  }

  &__info {

    &-title {
      font-family: Formular, sans-serif;
      font-size: 21px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.9;
      letter-spacing: 4.38px;
      color: #000000;

      @media screen and (max-width: 560px) {
        font-size: 18px;
      }
    }

    &-content {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1199px) {
        flex-direction: column;
        align-items: flex-start;
      }

      table {
        margin-top: 50px;
        
        @media screen and (max-width: 560px) {
          width: 100%; 
          margin-top: 30px;
        }
        
        tr {
          display: flex;
          min-height: 73px;
          margin-left: -3px;
          width: 100%;

          @media screen and (max-width: 560px) {
            flex-direction: column;
            margin-top: 20px;
          }
        }
  
        th {
          font-family: Formular, sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #000000;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          width: 205px;
          min-width: 160px;

          @media screen and (max-width: 799px) {
            width: 160px;
          }
        }
  
        td {
          font-family: Formular;
          font-size: 24px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.67;
          letter-spacing: normal;
          color: #000000;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          z-index: 2;
          width: calc(100% - 160px);
          white-space: pre-line;

          @media screen and (max-width: 560px) {
            width: 100%;
            font-size: 21px;
          }
  
          a { 
            line-height: 1;transition: all .4s ease;

            &:hover {
              color: #1518ff;
            }
          }
        }
  
        .telephone {
          min-height: 118px;
  
           td a {
            line-height: 1.5;
            margin-bottom: 5px;
            transition: all .4s ease;

              &:hover {
                color: #1518ff;
              }
           }
        }
  
        .adress {
          min-height: 121px;
        }
  
        .social {
          @media screen and (max-width: 699px) {
            margin-top: 20px;
          }

          @media screen and (max-width: 560px) {
            margin: 20px 0;
          }
  
          td {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 6px;

            @media screen and (max-width: 699px) {
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-between;
              margin-top: 0;
              height: 100px;
            }

            @media screen and (max-width: 560px) {
              width: 100%; 
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: flex-start;
            }
  
            a {
              margin-right: 20px;
              transition: all .4s ease;

              &:hover {
                color: #1518ff;
              }
            }
          }
        }
      }

      .qr-code {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 12%;

        @media screen and (max-width: 1199px) {
          margin: 80px 0 0 0;
          align-self: center;
        }

        @media screen and (max-width: 560px) {
          margin: 30px 0 40px 0;
          align-self: center;
        }

        img {
          z-index: 2;
        }

        span {
          font-family: Formular;
          font-size: 21px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.9;
          letter-spacing: 4.38px;
          color: #000000;
          text-transform: uppercase;
          z-index: 2;
        }

        span:first-child {
          margin: -10px 0 25px;
        }

        span:last-child {
          margin-top: 25px;
        }
      }
    } 
  }
}