.menu {
  position: fixed; 
  right: 0;
  top: 104px;
  height: 100vh;
  visibility: hidden; 
  transition: all 0.3s easy-in; 

  &-scroll {
    top: 50px; 
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }

  &__before-visible {
    visibility: visible;
  }

  &__before-visible:before {
    visibility: visible;
    opacity: 1;
  }

  &__wrapper { 
    transform: translate(0); //365px
    transition: all 0.5s ease-out;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: calc(100vh - 142px);
    width: 360px;
    padding: 38px 85px 0 0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    border-top: 1px solid #eee;
    overflow-y: scroll;
    z-index: 1;

    &-scroll {
      height: calc(100vh - 88px);
    }
  }

  &-invisible {
    transform: translate(365px);
    visibility: hidden;
  }

  &__social {
    display: none;
  }
  
  &__form {
  border-bottom: 2px solid rgba(151, 151, 151, .2);
  width: 200px;
  display: none;

    & > input {
      width: 180px;
      color: #000000;
      font-family: Formular;
      font-size: 14px;
      letter-spacing: 0.67px;
      line-height: 52px;

      &::placeholder {
        opacity: 0.5;
      }
    }
  }
}

@media screen and (max-width: 949px) {
  .menu {

    &__wrapper {
      padding: 38px 70px 0 0;
    }

    &__form {
      display: flex;
    }

    &__social {
      display: flex;
    }
  }
}

@media screen and (max-width: 349px) {
  .menu {
    border: none;
    box-shadow: none;
    top: 100px;
    // padding: 0 10%;
    // width: 100vw;

    &__wrapper {
      width: 100vw;
      padding: 10px 40px 0 0;
      height: calc(100vh - 110px);
      border-top: none;
    }
  }
}