body {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  width: 100%;
}

h3 {
  font-family: Formular;
  font-size: 21px;
  letter-spacing: 4.38px;
  text-transform: uppercase;
  margin: 0;
}