.message {
  position: relative;
  height: 730px;

  .wrapper {
    position: relative;
    height: 100%;
  }

  &__social {
    position: absolute;
    bottom: 68px;
    right: 0;
    padding-right: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 276px; 
    height: 21px;

    @media screen and (max-width: 699px) {
      display: none;
    }
    
    a {
      font-family: ProximaRegular, sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: 0.89px;
      color: #000000;
      cursor: pointer;
      transition: all .4s ease;
      z-index: 2;

      &:hover {
        color: #1518ff;
      }
    }
  }

  &__info {
    position: relative;
    left: 0;
    width: max-content; 
    top: 178px; 
    z-index: 2;   

    &-title {
      font-family: Formular, sans-serif;
      font-size: 67px;
      font-weight: 400;
      color:#221d00;
      letter-spacing: -1px;
      height: 150px;
      margin: 0;
      text-transform: uppercase;
      white-space: pre-line;
    }

    &-text {
      font-family: ProximaRegular, sans-serif;
      font-size: 21px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 37px;
      margin-top: 60px;
      height: 300px;

      p {
        margin: 0;
      }

      div {
        display: flex;
        align-items: center;
        overflow: hidden; 
        height: 40px
      }
    }
  }

  &__animation {
    position: absolute;
    width: 100%;
    max-width: 900px;
    height: 140%;
    overflow: hidden;
    right: 0;
    top: 0;
    z-index: 1; 

    & > svg {
      position: absolute;
      height: 110%;
      width: 110%;
      left: 30%;
      overflow: visible;

      @media screen and (max-width: 560px) {
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 799px) {
  .message {
    height: 600px;
  }
}



@media screen and (max-width: 499px) {
  .message {
    height: 500px;

    &__info {
      width: 100%;
      top: 100px; 

      &-title {
        font-size: 50px;
      }
    }
  }
}