.message {
  position: relative;
  height: 730px;

  &__info {
    position: relative;
    left: 0;
    max-width: 420px;
    width: 420px; 
    top: 178px;   

    &-title {
      font-family: Formular;
      font-size: 67px;
      font-weight: 400;
      color:#221d00;
      letter-spacing: -1px;
      height: 150px;
      margin: 0;
    }

    &-text {
      font-family: ProximaRegular, sans-serif;
      font-size: 21px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 39px;
      margin-top: 60px;

      & > p {
        margin: 0;
      }
    }
  }

  &__animation {
    position: absolute;
    width: 100%;
    max-width: 900px;
    height: 140%;
    overflow: hidden;
    right: 0;
    z-index: 0; 

    & > svg {
      position: absolute;
      height: 110%;
      width: 110%;
      left: 30%;
      overflow: visible;
    }
  }
}

@media screen and (max-width: 799px) {
  .message {
    height: 600px;
  }
}

@media screen and (max-width: 699px) {
  .message {

    &__animation {
      top: -50px; 
    }
  }
}

@media screen and (max-width: 599px) {
  .message {

    &__animation {
      top: -100px; 
    }
  }
}


@media screen and (max-width: 499px) {
  .message {
    height: 500px;

    &__animation {
      top: -100px; 
    }

    &__info {
      width: 100%;
      top: 100px; 

      &-title {
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width: 399px) {
  .message {

    &__animation {
      top: -150px; 
    }
  }
}